#venv
venv

#pycache emails
Q2SF/envio_emails/__pycache__

#dados sensiveis
Q2SF/python/cfg.py
Q2SF/envio_emails/otl_cfg.py

#emails jupyter
Q2SF/envio_emails/emails.ipynb

#pycache python geral
Q2SF/python/__pycache__

#notebook
notebook